@import "material-symbols/outlined.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  :root {
    --color-default: theme("colors.slate[900]");
    --color-secondary: theme("colors.slate[500]");
    --color-tertiary: theme("colors.slate[400]");
  }
}

@layer components {
  h1.page-title {
    @apply font-serif text-title text-color-default mt-12 mb-3 scroll-mt-16;
  }
  h2.heading-2 {
    @apply font-serif text-headline-largest text-color-default mt-8 mb-3 scroll-mt-16;
  }
  h3.heading-3 {
    @apply font-serif text-headline-large text-color-default mt-8 mb-3 scroll-mt-16;
  }
  h4.heading-4 {
    @apply font-serif text-headline-medium text-color-default mt-6 mb-3 scroll-mt-16;
  }
  h5.heading-5 {
    @apply font-sans text-headline-small text-color-default	mt-6 mb-3 scroll-mt-16;
  }
  h6.heading-6 {
    @apply font-sans text-headline-smallest text-color-default mt-6 mb-3 scroll-mt-16;
  }
  p.page-subtitle {
    @apply font-sans text-subtitle text-color-secondary mt-3 mb-8;
  }
  p {
    @apply font-sans text-base text-color-default mt-3 mb-3;
  }
  p small {
    @apply font-sans text-small text-color-default mt-3 mb-3;
  }
}
