@import "material-symbols/outlined.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Source+Code+Pro:ital,wght@0,400;0,500;0,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  @apply transition-all;
}

@layer base {
  :root {
    --color-default: theme("colors.slate[900]");
    --color-secondary: theme("colors.slate[600]");
    --color-tertiary: theme("colors.slate[400]");
    --color-divider: theme("colors.slate[200]");
  }
}

@layer components {
  article h1, h1.page-title {
    @apply font-serif text-title-mobile lg:text-title text-color-default mb-3 scroll-mt-16;
  }
  article h2, h2.heading-2 {
    @apply font-serif text-headline-largest-mobile lg:text-headline-largest text-color-default mt-6 lg:mt-8 mb-3 scroll-mt-16;
  }
  article h3, h3.heading-3 {
    @apply font-serif text-headline-large-mobile lg:text-headline-large text-color-default mt-6 lg:mt-8 mb-3 scroll-mt-16;
  }
  article h4, h4.heading-4 {
    @apply font-serif text-headline-medium text-color-default mt-6 mb-3 scroll-mt-16;
  }
  article h5, h5.heading-5 {
    @apply font-sans text-headline-small text-color-default	mt-6 mb-3 scroll-mt-16;
  }
  article h6, h6.heading-6 {
    @apply font-sans text-headline-smallest text-color-default mt-6 mb-3 scroll-mt-16;
  }
  p.page-subtitle {
    @apply font-sans text-subtitle text-color-secondary mt-3 mb-8;
  }
  article p {
    @apply font-sans text-base text-color-default mt-3 mb-3;
  }
  article p small {
    @apply font-sans text-small text-color-default mt-3 mb-3;
  }
  article hr {
    @apply bg-color-divider my-3;
  }

  article code {
    @apply font-mono bg-slate-100 border border-color-divider rounded px-1 font-medium;
  }
  article a {
    /* @apply text-indigo-700 underline underline-offset-4; */
    @apply text-indigo-700 border-b border-color-divider;
  }
  article a:hover {
    @apply text-indigo-800 border-indigo-300;
  }
  article a:active {
    @apply text-indigo-900 border-indigo-400;
  }

  article table {
    @apply text-small w-full my-3 border-separate border-spacing-0;
  }
  article table th {
    @apply text-left px-2 py-1 text-color-secondary align-bottom;
  }
  article table td {
    @apply p-2 align-top;
  }
  article table tfoot td {
    @apply px-2 py-1 text-color-secondary;
  }
  article table tbody td {
    @apply border-b border-l border-color-divider;
  }
  article table tbody tr:first-child td {
    @apply border-t;
  }
  article table tbody td:last-child {
    @apply border-r;
  }
  article table tbody tr:nth-child(odd) td {
    @apply bg-slate-50;
  }
  article table tbody tr:first-child td:first-child {
    @apply rounded-tl;
  }
  article table tbody tr:first-child td:last-child {
    @apply rounded-tr;
  }
  article table tbody tr:last-child td:first-child {
    @apply rounded-bl;
  }
  article table tbody tr:last-child td:last-child {
    @apply rounded-br;
  }

  .button {
    @apply font-sans font-medium text-base text-color-default inline-block rounded px-2 py-1;
  }
  .button:hover {
    @apply text-indigo-700 bg-indigo-50;
  }
  .button:active {
    @apply text-indigo-900 bg-indigo-100;
  }
  .button.small {
    @apply text-small font-medium;
  }
  .button.secondary {
    @apply text-color-secondary;
  }
  .button.secondary:hover {
    @apply text-indigo-700;
  }
  .button.secondary:active {
    @apply text-indigo-900;
  }
  .button.selected {
    @apply text-indigo-700 bg-indigo-50;
  }
  .button.search {
    @apply bg-slate-100 border border-color-divider relative;
  }
  .button.search:hover {
    @apply text-indigo-700 bg-indigo-50 border-indigo-100;
  }
  .button.search:active {
    @apply text-indigo-900 bg-indigo-100 border-indigo-200;
  }
  .button.search::after {
    @apply content-['/'] text-color-tertiary text-small font-bold inline-block bg-slate-200 rounded-sm w-5 h-5 text-center absolute right-2 top-2;
  }
  .button.search:hover::after {
    @apply text-indigo-400 bg-indigo-100;
  }

  .list-headline {
    @apply text-base font-bold pt-4 pb-2 px-2;
  }
  .list-headline.small {
    @apply text-small font-bold pt-4 pb-2 px-2;
  }

}