@import 'material-symbols/outlined.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Source+Code+Pro:ital,wght@0,400;0,500;0,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  @apply transition-all duration-150;
}

@layer base {
  :root {
    --color-default: theme('colors.slate[900]');
    --color-secondary: theme('colors.slate[600]');
    --color-tertiary: theme('colors.slate[400]');
    --color-divider: theme('colors.slate[200]');

    --width-page-article-column: 46.25rem; /*740px*/
    --width-page-side-navigation-column: 15rem; /*240px*/
    --width-page-table-of-contents-column: 15rem; /*240px*/
    --width-page-column-gap: 3.5rem; /*56px*/
    --width-page-padding: 2.5rem; /*40px*/
    --width-page-padding-mobile: 1.25rem; /*20px*/

    --max-width-page-mobile: calc(
      var(--width-page-padding-mobile) + var(--width-page-article-column) +
        var(--width-page-padding-mobile)
    );

    --max-width-page-tablet: calc(
      var(--width-page-padding) + var(--width-page-side-navigation-column) +
        var(--width-page-column-gap) + var(--width-page-article-column) + var(--width-page-padding)
    );

    --max-width-page-desktop: calc(
      var(--width-page-padding) + var(--width-page-side-navigation-column) +
        var(--width-page-column-gap) + var(--width-page-article-column) +
        var(--width-page-column-gap) + var(--width-page-table-of-contents-column) +
        var(--width-page-padding)
    );

    --column-template-page-tablet: calc(
        var(--width-page-side-navigation-column) + var(--width-page-padding)
      )
      1fr;
    --column-template-page-desktop: calc(
        var(--width-page-side-navigation-column) + var(--width-page-padding)
      )
      1fr calc(var(--width-page-table-of-contents-column) + var(--width-page-padding));
  }
}

@layer components {
  .content h1.page-title {
    @apply font-serif text-title-mobile lg:text-title text-color-default mb-3 scroll-mt-16;
  }
  .content h2.heading-2 {
    @apply font-serif text-headline-largest-mobile lg:text-headline-largest text-color-default mt-6 lg:mt-8 mb-3 scroll-mt-16;
  }
  .content h3.heading-3 {
    @apply font-serif text-headline-large-mobile lg:text-headline-large text-color-default mt-6 lg:mt-8 mb-3 scroll-mt-16;
  }
  .content h4.heading-4 {
    @apply font-serif text-headline-medium text-color-default mt-6 mb-3 scroll-mt-16;
  }
  .content h5.heading-5 {
    @apply font-sans text-headline-small text-color-default	mt-6 mb-3 scroll-mt-16;
  }
  .content h6.heading-6 {
    @apply font-sans text-headline-smallest text-color-default mt-6 mb-3 scroll-mt-16;
  }
  .content p.page-subtitle {
    @apply font-sans text-subtitle text-color-secondary mt-3 mb-8;
  }
  .content p {
    @apply font-sans text-base text-color-default mt-3 mb-3;
  }
  .content p small {
    @apply font-sans text-small text-color-default mt-3 mb-3;
  }

  .content ul.list,
  .content ol.list {
    @apply my-3;
  }
  .content ul.list li,
  .content ol.list li {
    @apply ml-5;
  }
  .content ul.list li::marker {
    @apply text-color-tertiary;
  }
  .content ol.list li::marker {
    @apply text-color-secondary;
  }
  .content ul.list ul,
  .content ol.list ol {
    @apply my-1;
  }
  .content .list li li {
    @apply ml-6;
  }
  .content ul.list li p,
  .content ol.list li p {
    @apply my-0 ml-1;
  }
  .content ul.list {
    @apply list-disc;
  }
  .content ol.list {
    @apply list-decimal;
  }

  .content hr {
    @apply bg-color-divider my-3;
  }

  .content p code {
    @apply font-mono text-slate-800 bg-slate-50 border border-color-divider rounded px-1;
  }
  .content a.link {
    @apply text-indigo-700 border-b border-color-divider;
  }
  .content a.link:hover {
    @apply text-indigo-800 border-indigo-300 border-b-2;
  }
  .content a.link a:active {
    @apply text-indigo-900 border-indigo-400;
  }

  .content table.table {
    @apply text-small w-full my-3 border-separate border-spacing-0;
  }
  .content table.table th {
    @apply text-left px-2 py-1 text-color-secondary align-bottom;
  }
  .content table.table td {
    @apply p-2 align-top;
  }
  .content table.table tfoot td {
    @apply px-2 py-1 text-color-secondary;
  }
  .content table.table tbody td {
    @apply border-b border-color-divider;
  }
  .content table.table tbody tr:first-child td {
    @apply border-t;
  }
  .content table.table tbody td:first-child {
    @apply border-l;
  }
  .content table.table tbody td:last-child {
    @apply border-r;
  }
  .content table.table tbody tr:nth-child(odd) td {
    @apply bg-slate-50;
  }
  .content table.table tbody tr:first-child td:first-child {
    @apply rounded-tl-lg;
  }
  .content table.table tbody tr:first-child td:last-child {
    @apply rounded-tr-lg;
  }
  .content table.table tbody tr:last-child td:first-child {
    @apply rounded-bl-lg;
  }
  .content table.table tbody tr:last-child td:last-child {
    @apply rounded-br-lg;
  }

  .button {
    @apply font-sans font-medium text-base text-color-default rounded-lg border-0 px-2 py-1 flex items-center gap-2;
  }
  .button:hover {
    @apply text-indigo-700 bg-indigo-50 border-0;
  }
  .button:active {
    @apply text-indigo-900 bg-indigo-100;
  }
  .button svg {
    @apply inline-block;
  }
  .button.small {
    @apply text-small font-medium;
  }
  .button.secondary {
    @apply text-color-secondary;
  }
  .button.primary {
    @apply bg-slate-900 text-white px-3 gap-3;
  }
  .button.primary:hover {
    @apply bg-indigo-800;
  }
  .button.primary:active {
    @apply bg-indigo-900;
  }
  .button.secondary:hover {
    @apply text-indigo-700;
  }
  .button.secondary:active {
    @apply text-indigo-900;
  }
  .button.selected {
    @apply text-indigo-700 bg-indigo-50;
  }
  .button.search {
    @apply bg-slate-100 border border-color-divider relative;
  }
  .button.search:hover {
    @apply text-indigo-700 bg-indigo-50 border-indigo-100;
  }
  .button.search:active {
    @apply text-indigo-900 bg-indigo-100 border-indigo-200;
  }
  .button.search::after {
    @apply content-['/'] text-color-tertiary text-small font-bold inline-block bg-slate-200 rounded-sm w-5 h-5 text-center absolute right-2 top-2;
  }
  .button.search:hover::after {
    @apply text-indigo-400 bg-indigo-100;
  }
  .button.netlify svg {
    @apply text-[#00C7B7];
  }
  .button.vercel svg {
    @apply text-[#0070F3];
  }

  .nav-list-headline {
    @apply text-base font-bold pt-4 pb-2 px-2;
  }
  .nav-list-headline.small {
    @apply text-small font-bold pt-4 pb-2 px-2;
  }

  .content .code-block {
    @apply bg-slate-900
            text-slate-200
            font-mono
            text-code
            my-3
            px-5 py-4
            w-full
            overflow-scroll
            border border-slate-900 rounded-lg;
  }
  .content .code-block .hljs-comment {
    @apply text-slate-400;
  }
  .content .code-block .hljs-prolog {
    @apply text-slate-400;
  }
  .content .code-block .hljs-doctype {
    @apply text-slate-400;
  }
  .content .code-block .hljs-cdata {
    @apply text-slate-400;
  }
  .content .code-block .hljs-punctuation {
    @apply text-slate-300;
  }
  .content .code-block .namespace {
    opacity: 0.7;
  }
  .content .code-block .hljs-property {
    @apply text-red-300;
  }
  .content .code-block .hljs-keyword {
    @apply text-red-300;
  }
  .content .code-block .hljs-tag {
    @apply text-red-300;
  }
  .content .code-block .class-name {
    @apply text-slate-50 underline underline-offset-2;
  }
  .content .code-block .hljs-boolean {
    @apply text-teal-200;
  }
  .content .code-block .hljs-constant {
    @apply text-teal-200;
  }
  .content .code-block .hljs-symbol {
    @apply text-red-500;
  }
  .content .code-block .hljs-deleted {
    @apply text-red-500;
  }
  .content .code-block .hljs-number {
    @apply text-pink-500;
  }
  .content .code-block .hljs-selector {
    @apply text-indigo-500;
  }
  .content .code-block attr-name {
    @apply text-indigo-300;
  }
  .content .code-block .hljs-string {
    @apply text-indigo-300;
  }
  .content .code-block .hljs-char {
    @apply text-indigo-300;
  }
  .content .code-block .hljs-built_in {
    @apply text-indigo-300;
  }
  .content .code-block .hljs-inserted {
    @apply text-indigo-300;
  }
  .content .code-block .hljs-variable {
    @apply text-indigo-200;
  }
  .content .code-block .hljs-operator {
    @apply text-slate-50;
  }
  .content .code-block .hljs-entity {
    @apply text-orange-100;
  }
  .content .code-block .hljs-url {
    @apply text-indigo-200;
  }
  .content .code-block .language-css .token.string {
    @apply text-teal-200;
  }
  .content .code-block .style .token.string {
    @apply text-teal-200;
  }
  .content .code-block .hljs-atrule {
    @apply text-orange-200;
  }
  .content .code-block attr-value {
    @apply text-orange-200;
  }
  .content .code-block .hljs-attr {
    @apply text-orange-200;
  }
  .content .code-block .hljs-function {
    @apply text-orange-200;
  }
  .content .code-block .hljs-regex {
    @apply text-orange-300;
  }
  .content .code-block .hljs-important {
    @apply text-orange-400;
    font-weight: bold;
  }
  .content .code-block .hljs-bold {
    font-weight: bold;
  }
  .content .code-block .hljs-italic {
    font-style: italic;
  }
}
